{% extends 'base.html' %}

{% block title %}
    TextRank
{% endblock %}
{% block content %}
    <form action="/" method="post">
    {% csrf_token %}
    <div class="container">
            <div class="row">
                <div class="col-xs-6 hot-data">
                        <span><input type="submit" value="Submit" style="background:lightgoldenrodyellow" class="btn btn-default"></span>
                        <div class="panel panel-default">
                                <textarea class="form-control" placeholder="输入需要提取摘要的文章" style="height:600px;resize: none;font-size: 27px;" name='q' >{{org}}</textarea>
                        </div>
                </div>
                <div class="col-xs-6 hot-data" style="margin-top: 85px;">
                        <div class="panel panel-default">
                            <h3 style="margin-top: 2%"><span class="label label-default" style="color: #000 ;background:white">总结</span></h3>    
                            <textarea class="form-control" style="height:100px;resize: none;font-size: 27px;" readonly>{{ result.keyword }}</textarea>
                            <h3 style="margin-top: 2%"><span class="label label-default" style="color: #000 ;background: white">摘要</span></h3>    
                            <textarea class="form-control" style="height:430px;resize: none;font-size: 27px;" readonly>{{ result.summsry }}</textarea> 
                        </div>
            </div>
        </div>
    </form>  

    <style type="text/css">
        .btn-default{
            /* display:block;*/
            margin-top: 25px;
            margin-bottom: 15;
            font-size: 160%;
        }
    </style>
{% endblock %}